version: '3.1'

services:

  fooddb:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: food
      POSTGRES_PASSWORD: shivam13
      POSTGRES_DB: fooddb
    ports: 
     - 5432:5432


#   frontend:
#         container_name: client
#         build:
#             context: ./client
#             dockerfile: Dockerfile
#         image: client
#         ports:
#             - "3000:3000"
#         volumes:
#             - ./client:/src
#   backend:
#         container_name: server
#         build:
#             context: ./server
#             dockerfile: Dockerfile
#         image: server
#         ports:
#             - "5000:5000"
        
#         depends_on:
#             - fooddb
#         networks:
#             - default
#         volumes:
#             - ./server:/src